My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "8241472e-8b94-4f3c-a2b2-dfde7adcbe4a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KzF5sKYMGRvuCaj0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "464253b9-08f4-45cb-b478-4970ca5ab605",
              "name": "Subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "1ffc7ed5-b148-4726-94ed-21b5475db446",
              "name": "From",
              "value": "={{ $json.from.value[0].name }} ({{ $json.from.value[0].address }})",
              "type": "string"
            },
            {
              "id": "ce5bdc05-face-4935-850b-0cc39f1f11e9",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "718d45b8-d207-427e-a7b5-d596218b5767",
              "name": "To",
              "value": "={{ $json.to.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "2c461851-9804-4cc8-983a-96e072effaeb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là hệ thống AI xử lý email.\n\nCHỈ trả về JSON, không thêm text.\n\nSchema bắt buộc:\n{\n  \"subject\": \"\",\n  \"summary\": \"\",\n  \"classification\": \"job | spam | personal | urgent | update\",\n  \"sender\": \"\",\n  \"receiver\"\n  \"important_info\": {},\n  \"suggested_actions\": []\n}\n\nDữ liệu:\nReceiver: {{ $json.To }}\nSubject: {{ $json.Subject }}\nSender: {{ $json.From }}\nText: {{ $json.Text }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "71b5c9e1-a945-482d-80c1-61436de6f600",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "googlePalmApi": {
          "id": "1qXyMKyyAo7IRjCp",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        16
      ],
      "id": "a0e0cff3-17f5-4778-9e29-0812340f8e31",
      "name": "Get a message",
      "webhookId": "89e7d79d-a848-43ba-8232-fdb4c7dd53e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "KzF5sKYMGRvuCaj0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GJyH1qQigAsObhIwXI2ZW35cZedymke7bJQ57WYdNzw",
          "mode": "list",
          "cachedResultName": "AI_Email_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GJyH1qQigAsObhIwXI2ZW35cZedymke7bJQ57WYdNzw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GJyH1qQigAsObhIwXI2ZW35cZedymke7bJQ57WYdNzw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.error ? \"N/A\" : $json.summary || \"N/A\" }}",
            "subject": "={{ $json.subject }}",
            "sender": "={{ $json.sender }}",
            "action": "={{ $json.error ? \"N/A\" : ($json.suggested_actions?.join(\"\\n\") || \"N/A\") }}",
            "category": "={{ $json.error ? \"N/A\" : $json.classification || \"N/A\" }}",
            "error_log": "={{ $json.error || $json.executionError || 0 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        0
      ],
      "id": "b3a876d5-9aeb-4719-8d5e-258ccca432ae",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qbzxO33GCgkjNd2N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content.parts[0].text;\n\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ],
      "id": "77e45d81-3897-4fa4-a646-3d651e1bdc8d",
      "name": "Code in JavaScript",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2fa50f1-58f8-4beb-bb39-7443b4e9e0e8",
              "leftValue": "={{$json.payload?.parts?.filter(p => p.filename)?.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "4fdb4ebf-42cf-4f74-ac90-5d017f9f4182",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const parts = $json.payload?.parts || [];\n\nconst attachments = [];\n\nfor (const part of parts) {\n  if (part.filename && part.body?.attachmentId) {\n    attachments.push({\n      messageId: $json.id,\n      attachmentId: part.body.attachmentId,\n      filename: part.filename,\n      mimeType: part.mimeType\n    });\n  }\n}\n\nreturn attachments.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -176
      ],
      "id": "e307592f-b5c3-42eb-85d6-b60add528bbc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/{messageId}/attachments/{attachmentId}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -176
      ],
      "id": "235881e8-bf49-4d26-80f4-84b0d1104b7d",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "vplOhi5UOC2vKlpt",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0451536f-f7a7-4469-b8cc-4c0ef92970c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6cfa7007d0dc0d33932969edbe812a661378c21ffd33cf0ce75c4b9fe1258db"
  },
  "id": "vg7BfbC8w8j6Tf25",
  "tags": []
}